{% extends "PadelApp/base2.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Circuitos</h1>
      {% if perms.circuito.add_circuito %}
      <a href="{% url "crear_circuito" %}">Crear circuito</a>
      <br><br>
      {% endif %}
      <form action="{% url 'buscar_circuito' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por nombre">
      </form>
      
      <table class="table">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Alcance</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for circuito in object_list %}
          <tr>
            <td>{{ circuito.id }}</td>
            <td>{{ circuito.nombre }}</td>
            <td>{{ circuito.alcance }}</td>
            <td>
              
                <a href = "{% url "detalle_circuito" circuito.id %}">Ver</a>
                  
            </td>

            <td>
              {% if perms.circuito.change_circuito %}
                <li class="nav-item"><a class="nav-link" href={% url "editar_circuito" circuito.id %}>| Editar Circuito |</a></li>
              {% endif %}
            </td>
            <td>
              {% if perms.circuito.delete_circuito %}
               <li class="nav-item"><a class="nav-link" href = "{% url "borrar_circuito" circuito.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}



