{% extends "PadelApp/base2.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Jugadores</h1>
      {% if perms.jugadores.add_jugador %}
      <a href="{% url "crear_jugador" %}" style="color: red;">Crear jugador</a>

      <br><br>
      {% endif %}
      <form action="{% url 'buscar_jugador' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por apellido">
      </form>
      
      <table class="table">
        <tbody>
          <tr>
            <th style="color:red"> ID</th>
            <th style="color:red">Nombre</th>
            <th style="color:red">+ Info</th>
            <th style="color:red"></th>
            <th style="color:red"></th>
          </tr>
          {% for jugador in object_list %}
          <tr>
            <td style="color: white">{{ jugador.id }}</td>
            <td style="color: white">{{ jugador.nombre }}, {{ jugador.apellido }}</td>
            <td style="color: white">
              
                <a href = "{% url "detalle_jugador" jugador.id %}">Leer más</a>
                  
            </td>
            <td>
              {% if perms.jugadores.change_jugador %}
                <a href = "{% url "editar_jugador" jugador.id %}">Editar</a>
              {% endif %}
            </td>
            <td>
              {% if perms.jugadores.delete_jugador %}
                <a href = "{% url "borrar_jugador" jugador.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>

          </tr>
          {% empty %}
          <tr>
            <td style="color:red" colspan="5">No hay resultados para la búsqueda.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}
