{% extends "PadelApp/base2.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Jugadores</h1>
      <a href="{% url "crear_jugador" %}">Crear jugador</a>
      <br><br>
      <form action="{% url 'buscar_jugador' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por apellido">
      </form>
      
      <table class="table">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for jugador in object_list %}
          <tr>
            <td>{{ jugador.id }}</td>
            <td>{{ jugador.nombre }}</td>
            <td>{{ jugador.apellido }}</td>
            <td>
              
                <a href = "{% url "detalle_jugador" jugador.id %}">Ver</a>
                  
            </td>

            <td>
              {% if user == jugador.creador %}
                <a href = "{% url "editar_jugador" jugador.id %}">Editar</a>
              {% endif %}
            </td>
            <td>
              {% if user == jugador.creador %}
                <a href = "{% url "borrar_jugador" jugador.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}
