{% extends "PadelApp/base2.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Marcas</h1>
      {% if perms.marca.add_marca %}
      <a href="{% url "crear_marca" %}" style="color: red;">Crear marca</a>
      <br><br>
      {% endif %}
      <form action="{% url 'buscar_marca' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por nombre">
      </form>
      
      <table class="table">
        <tbody>
          <tr>
            <th style="color:red">ID</th>
            <th style="color:red">Nombre</th>
            <th style="color:red">+ Info</th>
            <th></th>
            <th></th>
          </tr>
          {% for marca in object_list %}
          <tr>
            <td style="color:white">{{ marca.id }}</td>
            <td style="color:white">{{ marca.nombre }}</td>
            <td>
              
                <a href = "{% url "detalle_marca" marca.id %}">Leer más</a>
                  
            </td>
            <td>
              {% if perms.marca.change_marca %}
              <a href={% url "editar_marca" marca.id %}> Editar Marca </a>
              {% endif %}
            </td>
            <td>
              {% if perms.marca.delete_marca %}
                <a href = "{% url "borrar_marca" marca.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>

          </tr>
          {% empty %}
          <tr>
            <td style="color:red" colspan="5">No hay resultados para la búsqueda.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}
