{% extends "PadelApp/base2.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Marcas</h1>
      <a href="{% url "crear_marca" %}">Crear marca</a>
      <br><br>
      <form action="{% url 'buscar_marca' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por nombre">
      </form>
      
      <table class="table">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Origen</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for marca in object_list %}
          <tr>
            <td>{{ marca.id }}</td>
            <td>{{ marca.nombre }}</td>
            <td>{{ marca.origen }}</td>
            <td>
              
                <a href = "{% url "detalle_marca" marca.id %}">Ver</a>
                  
            </td>

            <td>
              {% if perms.marca.change_circuito %}
                <li class="nav-item"><a class="nav-link" href={% url "editar_marca" marca.id %}>| Editar Marca |</a></li>
              {% endif %}
            </td>
            <td>
              {% if perms.marca.delete_marca %}
               <li class="nav-item"><a class="nav-link" href = "{% url "borrar_marca" marca.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}
